<%= form_for @flat do |f| %>
  <div class="form-group">
    <%= f.label :name,  "Name" %>
    <%= f.text_field :name, required: true, class:"form-control"  %>
  </div>
    <div class="form-group">
    <%= f.label :address, "Address" %>
    <%= f.text_field :address, required: true, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, required: true, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price_per_night, "Price per night" %>
    <%= f.text_field :price_per_night, required: true, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_guests, "number_of_guests" %>
    <%= f.select :number_of_guests, (0..10), required: true, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :picture, "Picture" %>
    <%= f.text_field :picture, required: true, class:"form-control" %>
  </div>
  <%= f.submit class:"btn btn-primary" %>

<% end %>
